<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoMaxiDuration </key>
	<integer>7</integer>
	<key>ParseClassName</key>
	<string>Pixster</string>
	<key>LocationManager_DesiredAccuracy</key>
	<integer>1000</integer>
	<key>ClientKey</key>
	<string>iZUqHOwq4nDCseZbS7BS0kpNzgPH240KQM0YduVP</string>
	<key>ObjectsPerPage</key>
	<integer>7</integer>
	<key>ApplicationId</key>
	<string>AIXmuxjz4MQPvV02bXvEIdb4AKuuUZzjMLgTTRz1</string>
	<key>Radius</key>
	<integer>12</integer>
</dict>
</plist>
